<%= form_for @service do |f| %>
<% if @service.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>
	<ul>
		<% @service.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<%= f.label :lat %><br />
<%= f.text_field :lat %>

<%= f.label :lng %><br />
<%= f.text_field :lng %>

<%= f.fields_for :tags do |builder| %>
<%= render 'tag_fields', :f => builder %>
<% end %>

<%= link_to_add_fields "Add Tag", f, :tags %>

<%= f.submit "Submit" %>
<% end %>