<p id="notice"><%= notice %></p>
<% name_tag = @service.tags.detect { |t| t.name == "Name" } %>
<% description_tag = @service.tags.detect { |t| t.name == "Description" } %>
<% address_tag = @service.tags.detect { |t| t.name == "Address" } %>
<% phone_tag = @service.tags.detect { |t| t.name == "Phone" } %>
<% website_tag = @service.tags.detect { |t| t.name == "Website" } %>
<% email_tag = @service.tags.detect { |t| t.name == "Email" } %>

<h1 class="service_title"><%= name_tag.value %></h1>

<span class="service_sub">Tel: <% if phone_tag %><%= phone_tag.value %><% else %>(none)<% end %> | E-mail: <% if email_tag %><%= mail_to email_tag.value, email_tag.value %><% else %>(none)<% end %></span>

<table class="service_details">
	<% if description_tag %>
		<tr>
			<th>Description:</th>
			<td><%= description_tag.value.html_safe %></td>
		</tr>
	<% end %>
	<% if address_tag %>
		<tr>
			<th>Address:</th>
			<td><%= address_tag.value.html_safe %></td>
		</tr>
	<% end %>
	<% @service.tags.each do |t| %>
		<% if not ["Name", "Description", "Address", "Phone", "Website", "Email", "Advert", "Keywords"].include?(t.name) %>
			<tr>
				<th><%= t.name %>:</th>
				<td><%= t.value %></td>
			</tr>
		<% end %>
	<% end %>
</table>

