<h1>Listing pending_requests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Lat</th>
    <th>Lng</th>
    <th>Tags</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pending_requests.each do |pending_request| %>
  <tr>
    <td><%= pending_request.name %></td>
    <td><%= pending_request.address %></td>
    <td><%= pending_request.email %></td>
    <td><%= pending_request.phone %></td>
    <td><%= pending_request.lat %></td>
    <td><%= pending_request.lng %></td>
    <td><%= pending_request.tags %></td>
    <td><%= pending_request.description %></td>
    <td><%= link_to 'Show', pending_request %></td>
    <td><%= link_to 'Edit', edit_pending_request_path(pending_request) %></td>
    <td><%= link_to 'Destroy', pending_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pending request', new_pending_request_path %>
