<!DOCTYPE html>
<html>
<head>
	<title>MapTap</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>

	<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?key=AIzaSyADY5kcjJrAU5MM_rImge2LTWK4Nbfc5OA&sensor=false">
	</script>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	<%= javascript_include_tag "jquery.blockUI" %>
	
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
	html { height: 100% }
	body { height: 100%; margin: 0; padding: 0 }
	#map_canvas { height: 100% }
	</style>

	

</head>
<body>

	<div id="top">
		<ul>
			<li id="popular_views">Popular Views:</li>
			
			<%
			@categories.each do |category|
				%> <li> 
				<%= link_to category.name, { :controller => "services", :action => "get_services_by_category", :category_id => category.id }, :class => "category" %> 
				</li> <% 
			end
			%>
			
			<li><a href="/more">More &raquo;</a></li>
		</ul>
	</div>

	<div id="map_canvas"></div>

	<div id="content">
		<div id="padded_content">
			<%= yield %>
		</div>
	</div>

</body>
</html>