<!DOCTYPE html>
<html>
<head>
	<title>MapTap</title>
	<%= stylesheet_link_tag "application", :media => "all" %>

	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyADY5kcjJrAU5MM_rImge2LTWK4Nbfc5OA&sensor=false"></script>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
	<%= javascript_include_tag "jquery.blockUI" %>
	
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		html { height: 100% }
		body { height: 100%; margin: 0; padding: 0 }
		#map_canvas { height: 100% }
		#more_overlay { display:none; }
	</style>
</head>
<body>
	
	<div id="more_overlay"></div>

	<div id="top">
		<input name="searchbox" id="searchbox" columns="1000" type="search" placeholder="Search...">
		<ul>
			<li id="popular_views">Common Terms:</li>

			<%["Restaurants", "Pubs", "Weddings", "Takeaways", "Photography", "Charities", "Designers"].sort.each do |c| %> 
			<li> 
				<%= link_to c, root_path(:term => c), :class => "category" %> 
			</li> 
			<% end %>

			<li><a id="more" href="/more">More &raquo;</a></li>
		</ul>
	</div>

	<div id="map_canvas"></div>

	<div id="content">
		<div id="padded_content">
			<%= yield %>
		</div>
	</div>

</body>
</html>